#minesweeper{
  float: left;
  padding: 6px;
  border: 3px;
  border-style: outset;
  border-color: #F7F7F7 #9E9E9E #7E7E7E #C6C6C6;
  background-color: #D9D9D9;
}

#scorebar{
  height: 25px;
  background-color: #D9D9D9;
}

#minecounter{
  display: inline-block;
}

#timer{
  display: inline-block;
}

#gamefaceholder{
  display: inline-block;
  width: 134px;
}

#gameface{
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(face-smile.svg);
  background-size: 20px;
  background-repeat:no-repeat;
  background-position: center center;
  padding: 0px;
  border: 2px;
  border-style: outset;
}

#gameface.gameover{
  background-image: url(face-sick.svg);
}

.score{
  text-align: center;
  width: 50px;
  background-color: white;
  border: 2px;
  border-style: inset;
  border-radius:5px;
}

#minefield{
  position: relative;
  margin-top: 4px;
  width: 230px;
  height: 230px;
  padding: 10px;
  background-image: url(background.svg);
}

.cell{
  position: absolute;
}

.hidden{
  width: 19px;
  height: 19px;
  border: 3px;
  border-style: outset;
  border-color: #F7F7F7 #9E9E9E #7E7E7E #C6C6C6;
  background-color: #D9D9D9;
}

.hidden.revealed{
  width: 19px;
  height: 19px;
  border: 3px;
  border-style: outset;
  border-color: #F7F7F7 #9E9E9E #7E7E7E #C6C6C6;
  background-color: #D9D9D9;
}

.flagged{
  background-size: 19px;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url(flag.svg);
}

.revealed{
  width: 24px;
  height: 24px;
  border: 1px;
  border-style: solid;
  border-color: #C6C6C6;
}

.mine.hidden.revealed{
  background-color: red;
}

.number{
  background-size: 19px;
  background-repeat:no-repeat;
  background-position: center center;
}

.n1{
  background-image: url(1.svg);
}

.n2{
  background-image: url(2.svg);
}

.n3{
  background-image: url(3.svg);
}

.n4{
  background-image: url(4.svg);
}

.n5{
  background-image: url(5.svg);
}

.n6{
  background-image: url(6.svg);
}

.n7{
  background-image: url(7.svg);
}

.n8{
  background-image: url(8.svg);
}

.mine.revealed{
  background-color: red;
}