#minefield{
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-image: url("background.png");
}

.cell{
  vertical-align: middle;
  position: absolute;
}

.uninitialized{

}

.hidden{
  border: 3px;
  border-style: outset;
  border-color: #F7F7F7 #9E9E9E #7E7E7E #C6C6C6;
  background-color: #D9D9D9;
}

.flagged{
  background-color: red;
}

.revealed{
  background: none;
  border-style: solid;
  border: 1px;
  border-color: red;
}

.number{
  font-weight:bold;
  text-align: center;
}

.n1{
  color: blue;
}

.n2{
  color: green;
}

.n3{
  color: red;
}

.n4{
  color: purple;
}

.n5{

}

.n6{

}

.n7{

}

.n8{

}

.n9{

}

.mine.revealed{
  background-color: red;
}